@font-face {
    font-family: 'jf-openhuninn';
    src: url('./fonts/jf-openhuninn-2.1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('/src/assets/fonts/asap/Asap-Bold.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}